html:html {
    font-size: 28px;
  }

h1 {
    font-family: "cabazon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px; 
    color: blue; 
    text-align: center;
}


  
  h2 {
    font-family: "cabazon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13vw;
    color: rgb(255, 0, 0); 
    text-align: center; 
    position: static;
    margin: 16vw
  
   
  }

  h2:hover {
    color: blue;
  }






p {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
    font-size: 30px; 
    display:block;
    width: 50%;
    margin:100 auto; 
    position: relative;

}

a {
    font-family: "cabazon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13vw;
    color: rgb(255, 0, 0); 
    text-align: center; 
    position: static;
    margin: 16vw
}



#index-video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    width:110vw;
}

