html:html {
    font-size: 28px;
  }

h1 {
    font-family: "cabazon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19vw; 
    color: blue; 
    text-align: center;
    Display:block;
    margin: 10vw
}

h2 {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw; 
    color: blue; 
    text-align: center;
}

  /* enter*/
  a {
    font-family: "cabazon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12.5vh;
    color: rgb(255, 0, 0); 
    text-align: center; 
    display: block;
    position: relative;

  
   
  }


  a:link {
    text-decoration: none;
  }


  a:hover {
    color: blue;
  }


  h1:hover {
    color: rgb(255, 0, 0);
  }


  .navigation {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
    font-size: 20px; 
    display:block;
    margin:45vw; 
    position: relative;


  }


p {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
    font-size: 30px; 
    display:block;
    width: 50%;
    margin:100 auto; 
    position: relative;

}




#index-video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    width:110vw;
}

img{
    width:5vw;
}

#monogram{
    display: inline-block;
    z-index: +1;
    position: absolute;
    top: 30px;
    right: 30px;
}



@media screen and (max-width: 1100px) {

    
    h1 {
      color:red;
    }
  }

  @media screen and (max-width: 700px) {

    #monogram{
        display:none;
    }
  
  }
